// Quick and simple fix for aligning app in center of the viewport
html,
body {
  height: 100%;
}

body {
  background-color: $body-background;
  display: flex;
  justify-content: center;
  align-items: center;
}