// Fonts
$base-font-family: 'Open sans', serif;
$base-font-size: 100%; // 16px in most browsers

// Basic colors
$black: #000000;
$white: #ffffff;

// Cool color palette
$color-loulou: #5C1547;
$color-monarch: #92063E;
$color-orange: #FF5627;
$color-amber: #FFC400;
$color-gray: #E4D8D8;

// App colors
$app-background: #ffffff;
$body-background: #efefef;
$app-header-background-color: $color-orange;

// Paddings & Margins
$padding-size: 25px;
$margin-size: 25px;

// Border settings
$border-radius: 5px;
$border: 1px solid $color-gray;